<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Welcome!</h1>
  <p>You can import and view your Gmail contacts through this application. </p>
  <p><a class="btn btn-primary btn-large" href="/contacts/gmail">Import My Gmail Contacts >> </a></p>
</div>